body{
	padding: 15px 30px;
}
.background{
	background: url(../images/wallpaper.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.padding-reg{
	float: right;
}
h2{
	clear: both;
}
.hidden{
	display: hidden;
}