body{
	padding: 15px 30px;
}
.background{
	background: url(../images/wallpaper.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.padding-reg{
	padding-left: 70%;
}
h2{
	clear: both;
}
.hidden{
	display: none;
}
.box{
	width: 160px;
	height: 160px;
	border: 2px solid green;
	float: left;
	background: #fff;
	margin: 5px;
	text-align: center;
}
img{
	max-width: 120px;
	max-height: 70px;
	margin: 0;
}
#hp{
	margin: 3px 0;
}
a{
	text-decoration: none;
	color: black;
}